h1 {
    background-color: rgba(144, 91, 109, 0.4);
    color: white;
    border-bottom: 10px solid rgb(144, 91, 109);
    text-align: right;
}

.App{
   
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;

}
