h1 {
    background-color: rgba(144, 91, 109, 0.4);
    color: white;
    border-bottom: 10px solid rgb(144, 91, 109);
    text-align: center;
    text-transform: capitalize;
}

.App{
   height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
}

.genericButton {
    background-color: rgb(144, 91, 109);
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    width: 200px;
    margin: 10px;
}

    .genericButton:hover {
        cursor: pointer;
    }

.tabs {
    background-color: rgba(144, 91, 109, 0.8);
    color: white;
}

.tabs a {
    color: white;
}

.tabs a:hover {
    color: white;
}

    .tabs > #main-app-tabs-tab-logOut {
        background-color: rgba(140, 140, 140, 0.5);
    }


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(144, 91, 109, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(144, 91, 109);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #7d4f5e;
    }



