.header {
    background-color: rgba(144, 91, 109, 0.9);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.TopArtists {
    width: 100%;
    height: 500px;
}

.mainContent {
    height: 100%;
    display: flex;
    justify-content: initial
}

/* LIST OF TOP ARTISTS -----------------------------------------*/
.resultsContainer {
    color: white;
    font-size: 16px;
    padding: 0 !important;
    overflow: auto;
    height: inherit;
    width: 40%;
}

    .resultsContainer li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        text-indent: 25px;
        height: auto;
        padding: 10px;
        text-transform: capitalize;
        cursor: pointer;
    }

        .resultsContainer li:nth-child(even) {
            background-color: rgba(238, 153, 132, 0.5);
        }

        .resultsContainer li:nth-child(odd) {
            background-color: rgba(184, 107, 88, 0.5);
        }

.result {
    display: flex;
}

.selected {
    font-weight: bold;
    display: flex;
    font-style: italic;
    border: 1.5px solid white;
}


.albumArtContainer {
    height: 60px;
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
}

.albumArt {
    height: inherit;
    opacity: 1;
    position: absolute;
    transition: .5s ease;
    backface-visibility: hidden;
}



.albumArtContainer:hover .albumArt {
    opacity: 0.3;
}

.albumArtContainer:hover .middleOfAlbumArt {
    opacity: 1;
}




/* RIGHT HAND COLUMN -----------------------------------------*/
.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.artistDetails {
    height: 90%;
    width: 90%;
    background-color: rgba(144, 91, 109, 0.6);
    align-self: flex-end;
    color: white;
    padding: 20px;
}


.aristDetailsTabs {
    background-color: rgba(144, 91, 109, 0.5);
}

    .aristDetailsTabs a {
        color: white;
    }

        .aristDetailsTabs a:hover {
            color: white;
        }

.artistTabContent {
    border: 1px solid white;
    padding: 20px;
    height: 240px;
}

.mainAlbumContainer {
    height: 170px;
    float: right;
}

    .mainAlbumContainer:hover .mainAlbumArt {
        opacity: 0.3;
    }

    .mainAlbumContainer:hover .startStopContainer {
        opacity: 1;
    }

.mainAlbumArt {
    height: inherit;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}


.startStopContainer {
    height: inherit;
    transition: .5s ease;
    opacity: 0;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    text-align: center;
}

.startStop {
    height: inherit;
    display: block;
}

.similarArtistAlbumArt {
    position: relative;
}

.similarArtistAlbumArt > img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    padding: 10px;
}

.similarArtistAlbumArt > p {
    position: absolute;
    width: 140px;
    bottom: 50px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;

}

.similarArtists {
    width: inherit;
    height: 220px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}


#action-button {
    background-color: rgb(144, 91, 109);
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    max-width: 300px;
    margin-bottom: 10px;
}

    #action-button:hover {
        cursor: pointer
    }

.timeRangeDropdown {
    align-self: flex-end;
}
