.header {
    background-color: rgba(144, 91, 109, 0.9);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.TopArtists {
    height: 500px;
}

.mainContent {
    height: 100%;
}

/* LIST OF TOP ARTISTS -----------------------------------------*/
.topArtistList {
    color: white;
    font-size: 16px;
    padding: 0 !important;
    overflow: auto;
    padding: 10px;
    height: 100%;
}

    .topArtistList li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        text-indent: 25px;
        height: auto;
        padding: 10px;
        text-transform: capitalize;
        cursor: pointer;
    }

        .topArtistList li:nth-child(even) {
            background-color: rgba(184, 107, 88, 0.5);
        }

        .topArtistList li:nth-child(odd) {
            background-color: rgba(184, 107, 88, 0.5);
        }
    
    .topArtistList > .result {
        display: flex;
        background-color: rgba(184, 107, 88, 0.5);
        border: 1px solid rgba(144, 91, 109, 0.8);
        color: white;
        margin-bottom: 2px;
        margin-left: 15px;
    }

    .topArtistList > .selected {
        display: flex;
        background-color: rgba(184, 107, 88, 1.0);
        border: 1px solid rgba(144, 91, 109, 0.8);
        color: white;
        margin-bottom: 2px;
        margin-left: 15px;
    }

    .top-artist-text {
        margin-left: 5px;
        padding-top: 10px;
        color: white;
        font-size: 16px;
    }


.albumArtContainer {
    height: 60px;
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
}

.albumArt {
    height: inherit;
    opacity: 1;
    position: absolute;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 50px
}



.albumArtContainer:hover .albumArt {
    opacity: 0.3;
}

.albumArtContainer:hover .middleOfAlbumArt {
    opacity: 1;
}




/* RIGHT HAND COLUMN -----------------------------------------*/

.artistDetails {
    background-color: rgba(144, 91, 109, 0.6);
    color: white;
    padding: 20px;
    width: 600px;
}


.aristDetailsTabs {
    background-color: rgba(144, 91, 109, 0.5);
}

    .aristDetailsTabs a {
        color: white;
    }

        .aristDetailsTabs a:hover {
            color: white;
        }

.artistTabContent {
    border: 1px solid white;
    padding: 20px;
}

.mainAlbumContainer {
    height: 170px;
    float: right;
}

    .mainAlbumContainer:hover .mainAlbumArt {
        opacity: 0.3;
    }

    .mainAlbumContainer:hover .startStopContainer {
        opacity: 1;
    }

.mainAlbumArt {
    height: inherit;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}


.startStopContainer {
    height: inherit;
    transition: .5s ease;
    opacity: 0;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    text-align: center;
}

.startStop {
    height: inherit;
    display: block;
}

.similarArtistAlbumArt {
    position: relative;
    height: 170px;
}

    .similarArtistAlbumArt > img {
        object-fit: cover;
        width: 140px;
        height: 140px;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .similarArtistAlbumArt > p {
        width: 140px;
        height: 140px;
        opacity: 0;
        transition: .5s ease;
        transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        z-index: 1;
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
    }

        .similarArtistAlbumArt > p > a {
            color: white;
        }

    .similarArtistAlbumArt > img:hover {
        opacity: 0.3;
    }

    .similarArtistAlbumArt > p:hover {
        opacity: 1;
        cursor: pointer;
    }

similarArtistAlbumArt > a:hover {
    color: white;
    text-decoration: none;
}

.similarArtists {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}


#action-button {
    background-color: rgb(144, 91, 109);
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    max-width: 300px;
    margin-bottom: 10px;
}

    #action-button:hover {
        cursor: pointer
    }


.artistGenre{
    text-transform: capitalize;
}

.pieContainer{
    width: 400px;
}