.header {
    background-color: #e63262;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.TopArtists {
    width: 600px;
    height: 500px;
}


.resultsContainer {
    color: #555;
    font-size: 16px;
    padding: 0 !important;
    border: 1px solid #dedede;
    overflow: auto;
    height: inherit;
}

    .resultsContainer li {
        list-style: none;
        border-bottom: 1px dotted #ccc;
        text-indent: 25px;
        height: auto;
        padding: 10px;
        text-transform: capitalize;
    }

    .result{
        display: flex;
    }


.albumArtContainer{
        height: 100px;
        position: relative;
        left: 0;
        top: 0;
        width: 150px;
}

.albumArt {
    height: 100px;
    opacity: 1;
    position: absolute;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middleOfAlbumArt {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.albumArtContainer:hover .albumArt {
    opacity: 0.3;
}

.albumArtContainer:hover .middleOfAlbumArt {
    opacity: 1;
}

.startStop {
    height: 100px;
    position: absolute;
}