.loginLink {
    flex-grow: 2;
    background-color: rgb(144, 91, 109);
    color: white;
    padding: 30px;
    text-align: center;
    max-width: 50%;
}

.loginLink:hover {
    background-color: rgb(111, 70, 84);
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.Login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
